
* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus,
:active {
    outline: none;
}
  
a:focus,
a:active {
    outline: none;
}
  
nav,
footer,
header,
aside {
    display: block;}
  
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input,
button,
textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
body{
    font-family: 'Jost', sans-serif;
    height: 100vh;
}
main{
    overflow: hidden;
    height: 100vh;
    display: flex;
    

}
.container{
    height: 100%;
    width: 50%;
    &-background{
        height: 105%;
        width: 50%;
        height: auto;
        position: fixed;
        z-index: 0;

    }
    &-background__left{
        top: 0;
        left: 0;
    }
    &-background__right{
        top: 0;
        right: 0;
    }
    &-background__left:hover , &-background__right:hover{
        transition: all 0.5s ease;
    }
    &:hover .link-arrow__container{
        width: 129px;
    }
}
.left{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 58px 0 141px 51px;
}
.right{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 58px 0 141px 51px;
}
.link{
    display: flex;
    align-items: center;
    z-index: 2;
    &-text{
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 114%;
        letter-spacing: 0.88px;
        margin-right: 15px;
        text-transform: uppercase;
    }
    &-arrow{
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    &-arrow__container{
        position: relative;
        width: 36px;
        height: 2px;
        background-color: #FFFFFF;
        left: 0;
        display: block;
        transition: all 1s ease;
    }
    &-arrow__container::before {
        content: '';       
        position: absolute;       
        width: 11px;        
        height: 2px;        
        top: 4px;       
        right: -3px;       
        background-color: #FFFFFF;            
        transform: rotate(-45deg); 
        }
        
    &-arrow__container::after {       
        content: '';    
        position: absolute;   
        width: 11px;        
        height: 2px;  
        top: -4px;       
        right: -3px;       
        background-color: #FFFFFF;        
        transform: rotate(45deg);        
        }
    &-unactive__one, &-unactive__two{
        display: none;
    }
}

.btn{
    width: 168px;
    height: 44px;
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.64px;
    position: absolute;
    z-index: 2;
    top: 43px;
    right: 53px;
    &-contact{
        margin-left: 397px;
        border: 2px solid #FFF;
        background: transparent;
        color: #FFF;
        transition: all 0.5s ease;
    }
    &-contact__unactive{
        display: none;
    }
    &-contact:hover{
        opacity: 0.5;
    }
    &-closed{
        background-color: transparent;
        display: inline;
    }
    &-photo:hover{
        transition: all 0.5s ease;
        opacity: 0.5;
    }
}
.menu{
    &-zone{
        width: 330px;
        height: 280px;
        position: relative;
        top: 157px;
        right: -84px;
    }
    &-title{
        color: #FFF;
    }
    &-contacts{
        margin: 50px 0;
    }
    &-contact{
        display: flex;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
    }
    &-contact__number{
        color: #FFF;
        text-decoration: underline;
    }
    &-contact:nth-child(2){
        padding: 10px 0;
    }
    &-links{
        display: flex;
        
        
    }
    &-link:nth-child(2){
        padding: 0 12px;
    }
    &-link:hover{
        transition: all 0.5s ease;
        opacity: 0.5;
    }
}
.nav{
    position: absolute;
    width: 100vw;
    &-logo{
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 43px;
        cursor: pointer;
    }
    &-menu__mobile{
        position: absolute;
        top: -40px;
        right: -100%;
        display: block;
        transition: all 1s ease;
        &::before{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.50);
            z-index: -1;
        }
    }

    &-menu__mobile-active{
        right: 25%;
        transition: all 1s ease;
        z-index: 3;

    }
    &-menu__btn{
        position: absolute;
        top: 25%;
        right: -50%;
    }
}